body {
  margin: 0;
  padding: 0;
}

.grid-pad {
  padding: 20px 0 20px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-4 {
  width: 25%;
}


body {
  margin: 50px;
}

h3 {
  font-size: 1.5em;
}

header span:before {
  content:"/";
  margin: 10px;
}

header h3:after {
  content: "";
  border-top: solid 5px black ;
  display: block;
  margin-left: 210px;
}

header span {
  color: teal;
}

h2 {
  padding-left: 100px;
  font-family: 'Prata', serif;
  color: gray;
  font-size: 250%;
  margin: 0;
}

#america {
  padding-left: 100px;
  font-family: 'Prata', serif;
  color: gray;
  font-style: italic;
  margin: 0;
}

#volume {
  padding-left: 400px;
  font-family: 'Prata', serif;
  font-style: italic;
  margin: 0;
}

h1 {
  font-size: 200px;
  margin: 0;
}
