body {
  margin: 0;
  padding: 0;
}

.grid-pad {
  padding: 20px 0 20px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-1-4 {
  width: 23%;
}


body {
  margin: 50px;
}

h3 {
  font-size: 1.5em;
}

header span:before {
  content:"/";
  margin: 10px;
}

header span:after {
  content: "";
  border-top: solid 5px black ;
  position: absolute;
  margin-left: 5px;
  width: 9999px;
  top: 13px;
}

header span {
  color: teal;
  position: relative;
}

footer span {
  color: teal;
  text-transform: uppercase;
  font-weight: bold;

}

h2 {
  padding-left: 100px;
  font-family: 'Prata', serif;
  color: gray;
  font-size: 250%;
  margin: 0;
}

#america {
  padding-left: 100px;
  font-family: 'Prata', serif;
  color: gray;
  font-style: italic;
  margin: 0;
}

#volume {
  padding-left: 400px;
  font-family: 'Prata', serif;
  font-style: italic;
  margin: 0;
}

h1 {
  font-size: 200px;
  margin: 0;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}
