body {
  margin: 0;
  padding: 0;
}

body {
  margin: 50px;
}

h3 {
  font-size: 1.5em;
}

header span:before {
  content:"/";
  margin: 10px;
}

header h3:after {
  content: "";
  border-top: solid 5px black ;
  width: 100%;
}

header span {
  color: teal;
}
